name: CI

on:
  push:
    branches: [master]
    paths:
      - build.zig
      - build.zig.zon
      - src/*
      - .github/workflows/ci.yml
      - .github/workflows/docs.yml
  pull_request:
    paths:
      - build.zig
      - build.zig.zon
      - src/*
      - .github/workflows/ci.yml
      - .github/workflows/docs.yml

concurrency:
  cancel-in-progress: true
  group: ${{github.workflow}}-${{github.ref_name}}

jobs:
  test:
    runs-on: ${{matrix.os}}
    name: Test target ${{matrix.target}} (enable-wasm=${{matrix.wasm}})
    strategy:
      fail-fast: false
      matrix:
        target:
          - x86_64-linux-gnu
          - x86_64-linux-musl
          - aarch64-linux-gnu
          - x86_64-windows-gnu
          - x86_64-windows-msvc
          # - aarch64-windows-gnu
          - aarch64-macos-none
        wasm:
          - "true"
          - "false"
        include:
          - os: ubuntu-24.04
            target: x86_64-linux-gnu
          - os: ubuntu-24.04
            target: x86_64-linux-musl
          - os: ubuntu-24.04-arm
            target: aarch64-linux-gnu
          - os: windows-2022
            target: x86_64-windows-gnu
          - os: windows-2022
            target: x86_64-windows-msvc
          # FIXME: doesn't build
          # - os: windows-11-arm
          #   target: aarch64-windows-gnu
          - os: macos-15
            target: aarch64-macos-none
        exclude:
          # doesn't build
          - target: x86_64-windows-msvc
            wasm: "true"
          # no wasmtime archive
          - target: aarch64-windows-gnu
            wasm: "true"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Set up Zig
        uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
        if: contains(matrix.target, 'msvc')
      - name: Install musl
        if: matrix.target == 'x86_64-linux-musl'
        run: sudo apt-get update && sudo apt-get install -y musl
      - name: Run unit tests
        shell: sh
        run: zig build test $ZIG_FLAGS -Doptimize=ReleaseSafe --verbose
        env:
          ZIG_FLAGS: -Dtarget=${{matrix.target}} -Denable-wasm=${{matrix.wasm}}
